streamlit
pandas
langchain-openai
langchain-community
langchain-core>=0.1.27
sentence-transformers
presidio-analyzer
presidio-anonymizer
faiss-cpu
pypdf
fastapi
flask
requests
beautifulsoup4
# The following is often a dependency of sentence-transformers but can be specified
torch
torchvision
